<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="objectscript-errors.ZPM">
    <Module>
      <Name>objectscript-errors</Name>
      <Version>1.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="shvarov.objectscript.PKG"/>
    </Module>
  </Document>
</Export>